/* 팝업창 커스터마이징 */
.custom-swal-popup {
  width: 560px;
  height: 270px;
  background-color: #fff;
  border-radius: 11px;
  padding: 40px 0 0;

  display: flex;
  flex-direction: column;
  align-items: center; /* 수평 정렬 */
  justify-content: center; /* 수직 정렬 */
}

.custom-alert-content {
  text-align: center; /* 텍스트를 중앙 정렬 */
}

/* 팝업 내 텍스트 스타일 */
.custom-alert-content p {
  font-size: 1.375rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin: 10px 0 0 0;
}

.custom-alert-content small {
  display: block;
  margin-top: 12px;
  font-size: 1.125rem;
  color: #777;
  text-align: center;
}

/* 버튼 스타일 */
.custom-confirm-button,
.custom-cancel-button {
  margin: 0;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-weight: bold;
  width: 133px;
  height: 40px;
  border-radius: 24px;
  border: none;
  margin-top: -20px;
  margin-bottom: 35px;
}

.custom-confirm-button {
  background-color: #fba9a7;
  color: #000;
  margin-right: 36px;
}

.custom-cancel-button {
  background-color: #dee0e2;
  color: #000;
}
